article{
    width: 250px;
    height: 158px;
    margin-right: 15px;
    margin-top: 102px;
 
}
img{
    
}
a{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    line-height: 12px;
    display: block;
}
a:horizontal{
    color: green;
}